@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

.App {
  background-color: #23282e;
  color: #f4f4f4;
  padding: 1rem 10rem;
}

h1 {
  text-align: center;
  margin: 1rem;
}

a {
  text-decoration: none;
}
